h1 {
  color: tomato;
}

#map {
  margin-top: 25px;
  height: 400px;
  width: 600px;
  border: 1px solid olive;
}

body {
}

.submitBtn {
  display: block;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .placesForm {
    display: flex;
    padding: 10px;
    width: 300px;
    .fields {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      input {
        width: 280px;
        margin-bottom: 5%;
      }
    }
  }
  .listForm {
    margin: 10px;
  }
}
